@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: auto;
  letter-spacing: 0px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: auto;
  letter-spacing: 0px;
}

h3 {
  font-size: 15px;
  font-weight: bold;
  line-height: auto;
  letter-spacing: 0px;
}

h4 {
  font-size: 12px;
  font-weight: bold;
  line-height: auto;
  letter-spacing: 2.4px;
}